body{
	height: 100%;
	font-family: century;
	background-image: url('Images/background.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

.header{
	font-size: 20px;	
	background-color:rgba(0,0, 0, 0.6);
}

.nav-header{

}

.nav-header img{
	height: 60px;
	width: 246px;
}

.nav-header li img{
	height: 15px;
	width: 30px;
	margin-top: -20px;
}

.my-modal{
	
}

.banner{
	margin-top: 110px;
	/*height: 375px;*/
}


.banner-left{	
	background-color: #111111;
}

.banner-left .my-nav{
	height: 50px;
}

.banner-left .nav-link.active{
	background-color: #111111 !important;
	height: 100%;
}

.banner-right {
	background-color: #FFF;
}

.banner-right .my-slider{
	margin-right: -15px;
	margin-left: -15px;
}


.main-contain{
	
}

.main-contain .product-box .product-info-down{
	position: absolute;
	left: 0;
	z-index: 1000;
	display: none;
	background-color:rgba(1,0, 0, 0.6);
}

.main-contain .product-box .product img{

}


.footer{

   

}

.logo-text{
	font-size: 25px;
	font-weight: bold;
	font-style: italic;
	background-color: #0033CC;	
	font-family: arial unicode;
	box-shadow: 5px 5px #CCFFFF;
}

#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 10px; /* Place the button at the bottom of the page */
  right: 20px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: red; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 10px; /* Increase font size */
}

#myBtn:hover {
  background-color: #00ffff; /* Add a dark-grey background on hover */
}

/* The side navigation menu */
.sidebar {
 
 max-width:300px;
  height:auto;
  background-color: #f1f1f1;
  height: auto;
  overflow: auto;
  
}

.sidebar .col-md-4 .col-lg-4{
    padding:0;
}

/* Sidebar links */
.sidebar button {
  color: black;
  padding: 16px;
  text-decoration: none;
  display:block;
  
}

.nav-fill h4{
    color:black;
    font-weight:bold;
    padding:5px;
    
    

}
 
@media screen and (max-width: 767px) {
.sidebar col-md-4 col-lg-4 col-sm-4, .content col-md-8 col-lg-8 col-sm-8 p-0 {
display: block;
width: 100%;
}










center{
    font-size:20px;
    text-align:center;
    color:black;
    margin-top:10px;
    font-weight:bold;
}


/* Active/current link */
.sidebar button.active {
  
  color: black;
  text-align:center;
  border-bottom:1px solid black;

}

/* Links on mouse-over */
.sidebar button:hover:not(.active) {
  background-color: #555;
  color: white;
}

.row ul li{
    list-style-type:none;
    
}

.row ul li button{
    color: black;
  border: none;
    width:200px;
    display:block;
}
.row ul li button:hover{
    background-color: #e7e7e7;
}


/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
    width:600px;
    height:504px;
    
}

/*getChangePassword*/
.row label{
    color:black;
    font-size:20px;

}