@model BeCareWithYourFuckingCode.Models.TB_USER



<h4 class="text-danger text-center text-dark font-weight-bold h5" style="padding:8px;">ĐỔI MẬT KHẨU</h4>
<hr />
<div class="form-horizontal">
    <div class="row">
        <div class="col-md-12 w-75 m-0 p-5">
            <form method="POST" id="formChangePass" class="form-group">
                @Html.AntiForgeryToken()
                <div class="form-group">
                    <label class="text-black-50 overflow-hidden">Mật khẩu cũ</label>
                    <div class="input-group">
                        <input type="password" class="form-control" id="old_pass">
                        <div class="input-group-append">
                            <button type="button" class="btn btn-secondary" id="btnopen1">HIỆN</button>
                        </div>
                    </div>
                    <small class="text-danger" id="message1"></small>
                </div>
                <div class="form-group">
                    <label class="text-black-50 overflow-hidden">Mật khẩu mới</label>
                    <div class="input-group">
                        <input type="password" class="form-control" id="newpass">
                        <div class="input-group-append">
                            <button type="button" class="btn btn-secondary" id="btnopen2">HIỆN</button>
                        </div>
                    </div>
                    <small class="text-danger" id="message2"></small>
                </div>
                <div class="form-group">
                    <label class="text-black-50 overflow-hidden">Nhập lại mật khẩu mới</label>
                    <div class="input-group">
                        <input type="password" class="form-control" id="renewpass">
                        <div class="input-group-append">
                            <button type="button" class="btn btn-secondary" id="btnopen3">HIỆN</button>

                        </div>
                    </div>
                    <small class="text-danger" id="message3"></small>

                </div>
            </form>
            <small class="text-danger" id="message"></small>
            <div class="form-group text-center">
                <button class="btn btn-secondary text-center" id="submit_change_pass" style="border-radius:50px; padding:12px 20px; cursor:pointer" type="submit" onclick="Update()">
                    Thay đổi
                </button>
                <button class="btn btn-secondary text-center" style="border-radius:50px; padding:12px 20px; cursor:pointer" type="reset">
                    Nhập lại
                </button>
            </div>


        </div>
    </div>
</div>


<script>
    $().ready(function () {
        $('#btnopen1').click(function () {
            var x = $('#old_pass');
            if (x.val() != '') {
                if (x.attr('type') == "password") {

                    x.attr('type', 'text');
                    $('#btnopen1').text('ẨN');
                } else {
                    x.attr('type', 'password');
                    $('#btnopen1').text('HIỆN');

                }
            }

        });
        $('#btnopen2').click(function () {
            var x = $('#newpass');
            if (x.val() != '') {
                if (x.attr('type') == "password") {

                    x.attr('type', 'text');
                    $('#btnopen2').text('ẨN');
                } else {
                    x.attr('type', 'password');
                    $('#btnopen2').text('HIỆN');

                }
            }
        });

        $('#btnopen3').click(function () {
            var x = $('#renewpass');
            if (x.val() != '') {
                if (x.attr('type') == "password") {

                    x.attr('type', 'text');
                    $('#btnopen3').text('ẨN');
                } else {
                    x.attr('type', 'password');
                    $('#btnopen3').text('HIỆN');

                }
            }
        });
    })



</script>



//đổi pass

<script>
    // xử lí input mật khẩu cũ có trùng mật khẩu trong db hay k
    $().ready(function () {
        $('#old_pass').change(function () {
            var id = '@Session["UserID"].ToString()';
            $.getJSON('/User/getUser/' + id, function (res) {
                if (res != null) {
                    var pass = res.password;
                    var current_pass = $('#old_pass').val();
                    if (pass != current_pass) {
                        $('#message1').html("Mật khẩu không đúng");
                        $('#old_pass').val("");
                    } else {
                        $('#message1').html("");
                    }
                }

            });
        });

        // xét mật khẩu mới có giống mật khẩu cũ hay k
        $('#newpass').change(function () {


            var new_pass = $('#newpass').val();

            if (new_pass == $('#old_pass').val()) {
                $('#message2').html("Mật khẩu mới không được trùng mật khẩu cũ");
                $('#newpass').val("");
            } else
                $('#message2').html("");


        })

        $('#renewpass').change(function () {
            var re = $('#renewpass').val();
            if (re != $('#newpass').val()) {
                $('#message3').html("Mật khẩu nhập lại phải trùng mật khẩu mới đã nhập");
                $('#renewpass').val();
            }
            else {
                $('message3').html("");
            }
        });

    })


    //submit form
    function Update() {
        var newpass = $('#newpass').val();
        $.ajax({
            url: '/User/UpdatePassword/' + newpass,
            type: 'POST',
            success: function (rs) {
                if (rs.toString() == 'success') {
                    $('#message').html("Cập nhật thành công");
                    return;
                } else if (rs.toString() == 'fail') {
                    $('#message').html("Cập nhật Thất bại");
                    return;
                } else {
                    $('#message').html(rs.toString());
                    return;
                }
            },
            error: function (errormessage) {
                $('#message').html(errormessage.responeText);
            }
        });
    }
</script>