@model BeCareWithYourFuckingCode.Models.TB_BILL

<div class="nav-fill">
    <h4 class="text-center mt-lg-2 black-text">THÔNG TIN TÀI KHOẢN</h4>
    <hr />
    <table class="table m-auto p-0">
        <thead class="white black-text">
            <tr>

                <th scope="col">Mã tài khoản người dùng </th>
                <th scope="col">Mã tài khoản game</th>
                <th scope="col">Giá bán</th>
                <th scope="col">Trạng thái giao dịch</th>
            </tr>
        </thead>
        <tbody>
            <tr>

                <td>
                    @Html.DisplayFor(model => model.USER_ACCOUNT_ID)
                </td>
                <td>
                    @Html.DisplayFor(model => model.GAME_ACCOUNT_ID)
                </td>
                <td>
                    @Html.DisplayFor(model => model.OFFER_PRICE)
                </td>
                <td>
                    @Html.DisplayFor(model => model.SUCCESS_PRICE)
                </td>
             

            </tr>
        </tbody>
    </table>
</div>
