@model IEnumerable<BeCareWithYourFuckingCode.Models.TB_GAME_PRICE_OFFER>
@{
    Layout = null;
}
<div class="nav-fill">
    <h4 class="text-center black-text" style="padding:6px;">THÔNG TIN TÀI KHOẢN ĐANG ĐƯỢC TRẢ GIÁ</h4>
    <hr />
    <table class="table m-auto p-0">
        <thead class="white black-text">
            <tr>


                <th scope="col">Mã tài khoản</th>
                <th scope="col">Giá gốc</th>
                <th scope="col">Giá đang trả</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var i in Model)
            {
                <tr>
                    <td>
                        <a title="Chi tiết tài khoản" href="/GameAccount/getDetail/@i.TB_GAME_ACCOUNT.ID">@i.TB_GAME_ACCOUNT.ID</a>
                    </td>
                    <td>
                        @i.USER_PRICE_OFFER

                    </td>
                    <td>@i.TB_GAME_ACCOUNT.ORIGINAL_PRICE</td>

                </tr>
            }
        </tbody>
    </table>
</div>