@model BeCareWithYourFuckingCode.Models.TB_USER
@{
    ViewBag.Title = "getProfile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script>
    $().ready(function () {
        $('#userprofile').click(function () {
            $.get('/User/getUserProfile', function (res) {
                $('#content').html(res);
            });
        });

    })

    $().ready(function () {
        $('#lsgiaodich').click(function () {
            $.get('/User/getDealHistory', function (res) {
                $('#content').html(res);
            });
        });

    })

    $().ready(function () {
        $('#changepass').click(function () {
            $.get('/User/changePassword', function (res) {
                $('#content').html(res);
            });
        });

    })

    $().ready(function () {
        $('#addmoney').click(function () {
            var url = '/User/addMoney';
            $('#content').load(url);
        });

    })

    $().ready(function () {
        $('#upload').click(function () {
            $.get('/User/userUpload', function (res) {
                if (res == null)
                    alert("Không có dữ liệu");
                $('#content').html(res);
                
            });
        });

    })

    $().ready(function () {
        $('#lsnapthe').click(function () {
            $.get('/User/cardHistory', function (res) {
                $('#content').html(res);
            });
        });

    })

    $().ready(function () {
        $('#offer').click(function () {
            $.get('/User/userOffer', function (res) {
                $('#content').html(res);
            });
        });

    })

    //show/hide password //
   
    
   

      
</script>


<link rel="stylesheet" href="Content/Images/Site.css" />
<div class="row" style="display:table; width:100%;">
    <div class="sidebar col-md-4 col-lg-4 col-sm-4" style="padding:20px; width:30%; display:table-cell; ">
       <center>HỒ SƠ </center>
        <hr/>
        <ul style="list-style-type:none;">
            <li>

                <button id="userprofile" class="btn btn-secondary text-white mb-2 d-block w-75">Thông tin tài khoản</button>
                <button id="lsgiaodich" class="btn btn-secondary text-white mb-2 d-block w-75">Lịch sử giao dịch</button>
                <button id="lsnapthe" class="btn btn-secondary text-white mb-2 w-75">Lịch sử nạp thẻ</button>
                <button id="offer" class="btn btn-secondary text-white mb-2 w-75" style="padding:2px; height:60px;">Các account đang trả giá</button>
                <button id="upload" class="btn btn-secondary text-white mb-2 w-75" style="padding:2px; height:60px;">Các account đã đăng lên</button>
                <button id="addmoney" class="btn btn-secondary text-white mb-2 w-75">Nạp thẻ vào game</button>
                <button class="btn btn-secondary text-white mb-2 w-75">Rút tiền </button>
                <button id="changepass" class="btn btn-secondary text-white mb-2 w-75">Đổi mật khẩu</button>
            </li>
        </ul>

    </div>

    <!-- Page content -->
    <div class="content col-md-8 col-lg-8 col-sm-8 p-0" id="content" style="overflow:auto; background-color:whitesmoke; color:white; width:70%; display:table-cell; ">
        
            @Html.Partial("_UserProfile", Model);
        

    </div>
</div>

<script>
    $('.content col-md-8 col-lg-8 col-sm-8 p-0').css('height',$('sidebar col-md-4 col-lg-4 col-sm-4').css('height'));
</script>

