<!-- /#wrapper -->


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="~/Content/Images/admin/apple-icon.png">
    <link rel="icon" type="image/png" href="~/Content/Images/admin/favicon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>
        Paper Dashboard 2 by Creative Tim
    </title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <!-- CSS Files -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/adminStyle/paper-dashboard.css" rel="stylesheet" />
    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link href="~/Content/adminStyle/demo.css" rel="stylesheet" />
    <link href="~/Content/PagedList.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <link href="~/Content/adminStyle/jquery.dataTables.min.css" rel="stylesheet" />
    <script src="~/Scripts/MyJS/admin/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <style>
        .dropdown-toggle::after {
            display: none;
        }
    </style>

    <script language="javascript" type="text/javascript">
        setInterval(function () {
            $.getJSON('/Admin/checkAdminLogin', function (rs) {
                if (rs.toString() == "") {
                    window.location = '/Admin/Login';
                }
            })
        }, 10000);
        $().ready(function () {
            $.getJSON('/Admin/getAdmin', "", function (rs) {
                if (rs.toString() != "") {
                    $("#adminName").html(rs.toString());
                }
            });
           
        });
    </script>
</head>
<body>
    <div class="wrapper ">
        <div class="sidebar" data-color="white" data-active-color="danger">
            <!--
                Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow"
            -->
            <div class="logo">
                <a href="#" class="simple-text logo-mini">
                    <div class="logo-image-small">
                        <img src="~/Content/Images/admin/logo-small.png">
                    </div>
                </a>
                <a href="#" class="simple-text logo-normal" id="adminName">
                   

                </a>
            </div>
            <div class="sidebar-wrapper">
                <ul class="nav">
                    <li class="active ">
                        <a href="/Admin/Index">
                            <i class="nc-icon nc-bank"></i>
                            <p>Trang chủ</p>
                        </a>
                    </li>
                    <li>
                        <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                            <i class="nc-icon nc-single-02"></i>
                            <p>Table</p>
                        </a>
                        <ul class="collapse list-unstyled ml-5" id="pageSubmenu">
                            <li>
                                <a href="/Admin/getTBGameAccount">GAME_ACCOUNT</a>
                            </li>
                            <li>
                                <a href="/Admin/getTBUSER">User</a>
                            </li>
                            <li>
                                <a href="#">Page 3</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">
                            <i class="nc-icon nc-bell-55"></i>
                            <p>Thông báo</p>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="nc-icon nc-single-02"></i>
                            <p>Quản lý đăng nhập</p>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="nc-icon nc-caps-small"></i>
                            <p>Quản lý giao dịch</p>
                        </a>
                    </li>
                    
                   

                </ul>
            </div>
        </div>
        <!-- Navbar -->
        <div class="main-panel">
            <nav class="navbar navbar-expand-lg navbar-absolute fixed-top navbar-transparent">
                <div class="container-fluid">
                    <div class="navbar-wrapper">
                        <div class="navbar-toggle">
                            <button type="button" class="navbar-toggler">
                                <span class="navbar-toggler-bar bar1"></span>
                                <span class="navbar-toggler-bar bar2"></span>
                                <span class="navbar-toggler-bar bar3"></span>
                            </button>
                        </div>
                    </div>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-bar navbar-kebab"></span>
                        <span class="navbar-toggler-bar navbar-kebab"></span>
                        <span class="navbar-toggler-bar navbar-kebab"></span>
                    </button>
                   
                </div>
            </nav>
            <!-- End Navbar -->
            @RenderBody()
        </div>
    </div>
    <!--   Core JS Files   -->
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/umd/popper.min.js"></script>
    <!--  Google Maps Plugin    -->
    <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
    <!-- Chart JS -->
    <script src="../assets/js/plugins/chartjs.min.js"></script>
    <!--  Notifications Plugin    -->
    <script src="../assets/js/plugins/bootstrap-notify.js"></script>
    <!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
    <script src="../assets/js/paper-dashboard.min.js?v=2.0.0" type="text/javascript"></script>
    <!-- Paper Dashboard DEMO methods, don't include it in your project! -->
    <script src="../assets/demo/demo.js"></script>
    <script>
        $(document).ready(function () {
            // Javascript method's body can be found in assets/assets-for-demo/js/demo.js
            demo.initChartsPages();
        });
    </script>

</body>

</html>