@{
    ViewBag.Title = "BuyNow";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>
    var id = '@ViewBag.id'; // lấy id của sản phẩm được truyền qua từ action Buynow
    $().ready(function () { // Hiển thị các bảng chi tiết sp
        if (id != "") {
            $.getJSON('/Deal/BuyNowAction/' + id, "", function (rs) {
                var html = '';
                html += '<tr>';
                html += '<td><a href="/GameAccount/getDetail/' + rs.id + '">' + rs.id + '</a></td>';
                html += '<td>' + NumberFormat(rs.price1) + '</td>';
                html += '<td>' + NumberFormat(rs.price2) + '</td>';
                html += '</tr>';
                $('#tbody1').html(html);
                // gán dữ liệu cho form ẩn
                $('#GAME_ACCOUNT_ID').val(rs.username);
                $('#OFFER_PRICE').val(rs.price1);
                $('#SUCCESS_PRICE').val(rs.price2);
                //
                var html2 = '';
                html2 += '<tr>';
                html2 += '<td>' + rs.tuong + '</td>';
                html2 += '<td>' + rs.skin + '</td>';
                html2 += '<td>' + rs.ngoc + '</td>';
                html2 += '<td>' + rs.hang + '</td>';
                html2 += '</tr>';
                $('#tbody2').html(html2);
            });
            $.getJSON('/User/checkLogined', '', function (rs) { // kiểm tra rạng thái đăng nhậo
                if (rs.toString() != 0) {
                    $.getJSON('/User/getUser/' + rs.toString(), function (res) {
                        if (res != null) {
                            var html = '';
                            html += '<tr>';
                            html += '<td>' + res.name + '</td>';
                            html += '<td>' + NumberFormat(res.sodu) + '</td>';
                            html += '</tr>';
                            $('#tbody3').html(html);
                            $('#USER_ACCOUNT_ID').val(rs.toString());
                        }
                    });
                }
            });
        }

    });

    //Thanh toán khi nhấn nút thanh toán
    function Payment() {
        $.getJSON('/User/checkLogined', '', function (rs) {
            if (rs.toString() == 0) {
                alert("Vui lòng đăng nhập để tiếp tục");
            } else {
                $.getJSON('/GameAccount/isBoss/' + id, '', function (rs1) {
                    if (rs1.toString() == "1") {
                        alert("Không thể mua vì bạn là chủ sở hữu !");
                        return;
                    } else {
                        $.getJSON('/User/getUser/' + rs.toString(), "", function (rs) {
                            if (rs != null) {
                                var arrayVal = new Array();
                                arrayVal[0] = rs.sodu;
                                $.getJSON('/Deal/BuyNowAction/' + id, "", function (rs) {
                                    arrayVal[1] = rs.price2;
                                    var sodu = arrayVal[0];
                                    var pay = arrayVal[1];
                                    if (sodu < pay) {
                                        alert("Số dư không đủ vui lòng nạp thêm !");
                                    } else {
                                        $('#acceptModal').modal();
                                    }
                                });

                            }
                        });
                    }
                });
            }

        });
    }


    function AgreeToBuy() // cập nhật csdl
    {
        var data = $('#bill-info').serialize();
        $.ajax({
            url: '/Deal/CreateBill',
            type: 'post',
            data: data,
            success: function (res) {
                if (res == "sucess") {
                    $('#messageForCreateBill').html('<p class="text-success">Cảm ơn bạn đã mua account tại accg.net, thông tin về account sẽ được gửi đến profile trong 24h tới !</p>')
                } else {
                    $('#messageForCreateBill').html('<p class="text-danger">'+res.toString()+'</p>');
                }
            },
            error: function (errormessage) {
                //$('#messageForCreateBill').html('<p class="text-danger">Đã xảy ra lỗi, vui lòng thử lại sau !</p>');
                alert(data.toString());
                $('#messageForCreateBill').html('<p class="text-danger">' + errormessage.responseText + '</p>');
            },
        });
    }
</script>
<div class="row bg-white p-4">
    <div class="col-md-6">
        <p class="text-info">Thông tin đơn hàng</p>
        <table class="table table-sm table-bordered text-center mt-1">
            <thead>
                <tr>
                    <th>Mã Account</th>
                    <th>Giá đề nghị</th>
                    <th>Giá bán</th>
                </tr>
            </thead>
            <tbody id="tbody1"></tbody>
        </table>
        <p class="text-info">Thông tin account</p>
        <table class="table table-sm table-striped text-center mt-1">
            <thead>
                <tr>
                    <th>Số lượng tướng</th>
                    <th>Số lượng trang phục</th>
                    <th>Số lượng bảng ngọc</th>
                    <th>Bậc cao nhất</th>
                </tr>
            </thead>
            <tbody id="tbody2"></tbody>
        </table>
        <small class="text-muted">=> Bạn sẽ nhận được thông tin đăng nhập sau khi thanh toán thành công</small>
    </div>
    <div class="col-md-6">
        <div>
            <p class="text-info">Thông tin người mua</p>
            <table class="table table-sm table-dark text-center mt-1">
                <thead>
                    <tr>
                        <th>Tên</th>
                        <th>Số dư</th>
                    </tr>
                </thead>
                <tbody id="tbody3"></tbody>
            </table>
        </div>
        <div class="float-right"><button class="btn btn-success" onclick="Payment()">Thanh toán</button></div>
    </div>
</div>
<!--Modal-->
<div class="modal fade" id="acceptModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-info" id="exampleModalLongTitle">Xác nhận</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12" id="messageForCreateBill">
                        <p class="h5 text-danger">Bạn đồng ý mua account này ?</p>
                        <small class="text-muted">Username và Password sẽ được kiểm tra lại và giao sau 24h và bạn sẽ phải mất 30% phí đặt cọc.</small>
                    </div>
                </div>
                <form action="/" id="bill-info">
                    @*<input type="hidden" name="USER_ACCOUNT_ID" id="USER_ACCOUNT_ID" value="" />*@
                    <input type="hidden" name="GAME_ACCOUNT_ID" id="GAME_ACCOUNT_ID" value="" />
                    <input type="hidden" name="OFFER_PRICE" id="OFFER_PRICE" value="" />
                    <input type="hidden" name="SUCCESS_PRICE" id="SUCCESS_PRICE" value="" />
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                <button type="submit" class="btn btn-primary" onclick="AgreeToBuy()">Đồng ý</button>
            </div>
        </div>
    </div>
</div>